:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--schedule: #E1AE4A;
}

.App{
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  padding: 1rem 1rem;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px)
}

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid var(--orange);
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition:all 100ms ease-out;

  }

  .button:disabled{
    background-color: silver;
    pointer-events: none;
  }

  .fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button:hover{
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
    background: transparent;

  }

  .ps-button{
    font-size: 12px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

  }

/* Home Page */

.Home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}

/* Profile Side */
.ProfileSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow: auto;
  
}


/* Logo Search */
.LogoSearch{
  display: flex;
  gap: 0.75rem;
}
.Search{
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}
.Search>input{
  background-color: transparent;
  border: none;
  outline: none;
}
.s-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #f99827, #f95f35 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}
.s-icon:hover{
  cursor: pointer;
}

/* Profile Card */

.ProfileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
}

.ProfileImages{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProfileImages>img:nth-of-type(1){
  width: 100%;
  height: 10%;
}
.ProfileImages>img:nth-of-type(2){
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  box-shadow: var(--profileShadow);
}

.ProfileName{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
}
.ProfileName>span:nth-of-type(1)
{
  font-weight: bold;
}
.followStatus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

 .followStatus > hr{
  width: 85%;
  border: 1px solid var(--hrColor);
}

.followStatus > div{
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}


.follow{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.follower{
  display: flex;
}
.follow > span:nth-of-type(1){
  font-weight: bold;
}
.follow > span:nth-of-type(2){
  color: var(--gray);
  font-size: 13px;
}
.vl{
  height: 50px;
  border-left: 2px solid var(--hrColor);
}

.ProfileCard>span{
  font-weight: bold;
  color: orange;
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Followers Card */

.FollowersCard{
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.follower{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follower>div{
  display: flex;
  gap: 10px;
}
.followerImage{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.name>span:nth-of-type(1){
  font-weight: bold;
}


.unfollowButton{
  color: var(--orange);
  border: 2px solid var(--orange);
  cursor: pointer;
  background: transparent;
}
/* Post Side */

.PostSide{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  overflow: auto;
}


/* Post Share */
.PostShare{
  display: flex;
  background-color: var(--cardColor);
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}


.PostShare>img{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.PostShare>div{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.PostShare>div>input{
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
}
.postOptions{
  display: flex;
  justify-content: space-around;
}
.option{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}


/* Preview Image */
.previewImage{
  position: relative;
}
.previewImage>svg{
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
.previewImage>img{
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
    border-radius: 0.5rem;
}

/* Post Card Image */

.Post{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;
}

.Post>img{
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.postReact{
  display: flex;
  align-items: flex-start ;
  gap: 1.5rem;
}

::-webkit-scrollbar{
  display: none;
}

/* Right Side */

.RightSide{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.navIcons{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navIcons>img{
  width: 1.5rem;
  height: 1.5rem;
}

.navIcons>a>img{
  width: 1.5rem;
  height: 1.5rem;
}

/* Trend Card */

.TrendCard{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  padding-left: 2rem;
}

.trend{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.trend>span:nth-of-type(1){
  font-weight: bold;
}
.trend>span:nth-of-type(2){
  font-size: 14px;
}
.r-button{
  height: 3rem;
  width: 80%;
  align-self: center;
}

/* -----------------Profile Page-------------------- */
.Profile{
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}

.InfoCard{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
}

.info>span:nth-of-type(2){
  margin-left:0.5rem;
}

.infoHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoHead>div:hover{
  cursor: pointer;
}
.logout-button{
  width: 7rem;
  height: 2rem;
  margin-top: 6rem;
  /* align-items: flex-end; */
}
.Profile-center{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* ----------------- Auth Page ------------------- */
.Auth{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}
.Auth > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* left side */
.a-left{
  gap: 2rem;
}
.a-left > img{
  width: 4rem;
  height: 4rem;
}


.Webname > h1 {
  font-size: 3rem;
  background-color: red;

  /* Membuat Gradiasi */
  background-image: var(--buttonBg);

  /* Mengatur backround size dan repeat */
  background-size: 100%;
  background-repeat: repeat;
  
  /* use the text  as a mask  for the background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color:transparent;
}
.Webname>h6{
  font-size: 0.85rem;
}

/* form */
.infoForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
 
}
.infoForm >  div{
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 100%;
}

.infoInput{
  border: none;
  outline: none;
  background-color:  var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}

.infoButton{
  width: 6rem;
  height: 2rem;
  float: right;
  
}

.authForm{
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
}

.authForm>div{
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Chat */
.Chat {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;
}

.Left-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 80vh;
  overflow: scroll;
}

.Chat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.conversation:hover {
  background: #80808038;
  cursor: pointer;
}

.conversation:active{
  background: #80808038;
}
.conversation {
  border-radius: 0.5rem;
  padding: 10px;
}

.conversation > div {
  position: relative;
}

.online-dot {
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  width: 1rem;
  height: 1rem;
}


.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}


@media screen and (max-width: 768px) {
 .Chat {
    grid-template-columns: 16% auto;
  }
   .follower.conversation>div>.name{
    display: none;
   }
}


/* Message Chat */

.ChatBox-container {
  background: var(--cardColor);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 14vh 60vh 13vh;
}

.chat-header {
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  overflow: scroll;
}

.message {
background: var(--buttonBg);
color: white;
padding: 0.7rem;
border-radius: 1rem 1rem 1rem 0;
max-width: 28rem;
width: fit-content;
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.message>span:nth-child(2){
  font-size: 0.7rem;
  color: var(--textColor);
  align-self: end;
}

.own {
align-self: flex-end;
border-radius: 1rem 1rem 0 1rem;
background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%);
}



.chat-sender {
  background: white;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  align-self: end;
}
.chat-sender>input{
  height: 70%;
  background-color: rgb(236, 236, 236);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  flex  :1 ;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}
.chat-sender>div:nth-of-type(1)
{
  background: rgb(233, 233, 233);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer
}
.chat-sender>div{
  height: 70%;
  padding: 0px 15px 0px 15px;
}